body
{
 background-color : #DAEBDA;
}
#titlecontainer
{
   background-color : #49B8AB;
   text-align : center;
   padding-top : 0.5em;
   padding-bottom : 0.5em;
   margin-left : 10%;
   margin-right : 10%;
   height : 12%;
   color : ffffff;
}
#titlecontainer:hover
{
     background-color : #03A895; 
}

.horizantal
{
  display : inline-block;
  height : 80%;
}

#algocontainer
{
  background-color : #9E9DA1;
  width : 20%;
  margin-left : 10%;
  overflow : auto;
}

#desccontainrer
{
  background-color : #9E9DA1;
  width : 55%;
/*  margin-right : 10%; */
  position  : absolute;
  top : 0;
 /* float : right; */
  right : 10%;
  overflow : auto;
  height : 100%;
}

#desccontainrer:hover
{
  background-color : #C1C0C4;
}

#bodycontainer
{
   margin-top : 2%;
   position : relative;
  
}

.algodivs
{   
   margin-top : 5%;
   background-color : #ffffff;
   padding-top : 4px;
   padding-bottom : 4px;
   text-align : center;
   margin-left : 4%;
   margin-right:4%;
}
.algodivs:hover
{
   background-color : #A1F7A1;
}

a
{
   text-decoration : none;
}


p
{
   display : block;
   font-family : font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
   font-size : 125%;
}
code
{
  font-size : 125%;
}


